# Node.js dependencies
node_modules/
# Python virtual environment
.venv/
.chainlit/
.env
**/.env
# Vendor directory
/vendor

#Log files, caches, and runtime files:

# Log files
*.log
npm-debug.log
# Temporary files
*.tmp
*.json
.env
*.pyc
# Caches
.pytest_cache/
